//======================== members ======================
.members {
    margin-bottom: 8.75rem;

    &__heading {
        margin-bottom: 3.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


.slider {

    &__btns {
        display: flex;
        align-items: center;

        &_mobile {
            display: none;
        }
    }

}

.member {
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
    }

    &__item {
        padding: 0 2.3125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        transition: all 0.8s;
    }

    &__picture {
        margin-bottom: 1.625rem;
    }

    &__name {
        flex: 1;
        font-family: "Golos Text";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.8rem;
        color: #151515;
        margin-bottom: 0.375rem;
        text-align: center;
    }

    &__descr {
        font-family: "Golos Text";
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.375rem;
        color: #151515;
        margin-bottom: 0.9375rem;
        text-align: center;
    }

    &__info {
        padding: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Golos Text";
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2rem;
        color: $blue;
        border: 0.0625rem solid $blue;
        border-radius: 3.8756rem;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;

    }



    &__info:hover {
        background-color: $blue;
        color: #FFFFFF;
    }


}



.slider-count {
    padding: 0 0.3125rem;
    font-family: "Golos text";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
}

.slider-btn {
    background-color: transparent;
    border: none;
    padding: 0.3125rem;
    transition: all 0.3s ease-in-out;
}

.slider-btn:hover circle {
    fill: #FBCE51;
    transition: all 0.3s ease-in-out;
}

.slider-btn:disabled circle {
    fill: #D6D6D6;
}

._hidden {
    display: none;
    visibility: hidden;
}

._appearance {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {

    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@media(max-width:64rem) {

    .members {
        &__heading {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 2.5rem;
        }
    }
}

@media(max-width:29.6875rem) {

    .members {
        margin-bottom: 4.875rem;

        &__heading {
            margin-bottom: 1.75rem;
        }
    }

    .slider {
        &__btns {
            &_desktop {
                display: none;
            }

            &_mobile {
                display: flex;
                justify-content: center;
                margin-top: 2.5rem;
            }
        }
    }


    ._mobile-hidden {
        display: none;
        visibility: hidden;
    }

    .member {
        &__item {
            width: 100%;
            padding: 0;
        }
    }

}