//====================== stages ====================



.subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.375rem;
    line-height: 4.05rem;
    display: inline;
}

.sub-subtitle {
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $blue;
    display: inline-block;
    width: 17.5rem;
}

.stages {

    margin-bottom: 12.5rem;

    &__content {
        position: relative;
    }

    &__box {
        margin-top: 3.375rem;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        justify-content: center;
        gap: 1.25rem;
    }

    &__picture {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__slider-btns {
        display: none;
    }

    &__item {
        background-image: url("img/paper.png");
        background-size: cover;
        padding: 1.25rem 0.875rem 1.25rem 1.25rem;
        gap: 1rem;
    }
}

.item {
    display: flex;


    &_mobile {
        display: none;
    }

    &__number {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: #FFFFFF;
        font-family: "Golos Text";
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    &__text {
        font-family: "Golos Text";
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;

    }

    &_double-row {
        grid-row: span 2;
    }

    &_double-col {
        grid-column: span 2;
        padding-right: 18.75rem;
    }
}

.stage-row {

    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.75rem;
    padding-right: 0.3125rem;
}

@media(max-width:64rem) {
    .sub-subtitle {
        margin-bottom: 6.125rem;
    }

    .stages {

        &__picture {
            position: absolute;
            left: 32%;
            top: 5.25rem;

        }
    }

    .item {
        padding: 0.75rem;
        gap: 0.5rem;

        &__text {
            font-size: 1.125rem;
            line-height: 1.375rem;

        }
    }

    .stages {
        &__box {
            grid-template-columns: 48% 48%;
            gap: 1.25rem;
        }
    }

    .item {

        &_double-row {
            grid-row: span 1;
        }

        &_double-col {
            grid-column: span 2;

        }
    }
}

@media(max-width:48rem) {


    .subtitle {
        display: block;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 0.75rem;
    }

    .sub-subtitle {
        width: 100%;
    }
}

@media(max-width:34.375rem) {

    //============ сладер этапов ================
    .stages {
        margin-bottom: 7.6875rem;

        &__box {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            min-height: 18.75rem;
            padding: 3.875rem 1.25rem 1.25rem 1.25rem;
        }

        &__slider-btns {
            margin-top: 0.625rem;
            display: flex;
            align-items: center;
            gap: 0.625rem;
            justify-content: center;
        }

        &__picture {
            left: 20%;
            top: 6.25rem;
        }
    }

    .item {
        &_mobile {
            display: block;
        }

        &_desktop {
            display: none;
        }
    }

    .slider-hidden {
        display: none;
    }

    .stage-slider-count {
        display: flex;
        gap: 0.375rem;
    }

    .slider-circle {
        width: 0.625rem;
        height: 0.625rem;
        background-color: #D9D9D9;
        border-radius: 50%;

    }

    ._choosen {
        background-color: #313131;
    }
}


@media(max-width:29.6875rem) {
    .stages {
        &__picture {
            top: 12.125rem;
            left: 5%;
        }
    }
}