@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,700);


@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600);

@import 'colors.scss';
@import 'members.scss';
@import 'stages.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Merriweather;
    color: #313131;
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 85.375rem;
    margin: 0 auto;
    padding: 0 4.5rem;
}

// ============================= header ==============================
.header {
    background-image: url('img/banner1920.png');
    background-position: center;
    background-size: cover;
    min-height: calc(700 / 16) +rem;

    &__body {
        padding-top: calc(26 / 16) + rem;
        display: flex;
    }

    &__content {
        width: 45%;
    }



    &__text {
        font-family: 'Golos Text';
        font-weight: 400;

        font-size: calc(18 / 16) + rem;
        line-height: calc(23.4 / 16) + rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__btns {
        display: flex;
        gap: 1rem;
        margin-bottom: calc(132 / 16) + rem;
    }
}

.mobile {
    display: none;
}

.title {
    font-weight: 400;
    font-size: calc(60 / 16) + rem;
    line-height: calc(66 / 16) + rem;
    text-transform: uppercase;
    margin-top: calc(62 / 16) + rem;
    margin-bottom: calc(24 / 16) + rem;

    &__row {
        display: block;
    }

    &__row._center {
        display: block;
        text-align: center;
    }

    &__row._right {
        display: block;
        text-align: right;
    }
}





.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: calc(66 / 16) + rem;
    border: none;
    padding: 1.25rem 3.0625rem;
    text-align: center;
    font-family: 'Golos Text';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.05rem;
    background-color: #1F1F1F;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;

}

.btn:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
}

._light-btn {
    background-color: transparent;
    color: #1F1F1F;
    border: 0.0625rem solid #1F1F1F;
    transition: all 0.3s ease-in-out;
}

._light-btn:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.marquee {
    background-color: #F54932;
    padding: 1.125rem 0;
    margin-bottom: -4px;

    white-space: nowrap;
    overflow: hidden;


}

.marquee span {
    color: #FFFFFF;
    font-weight: 400;
    font-size: calc(22 / 16) + rem;
    line-height: calc(24 / 16) + rem;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 40s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused;
}

@media(max-width:85rem) {
    .container {
        max-width: 85rem;
        padding: 0 0.3125rem;

    }

    .title {
        font-size: calc(45 / 16) + rem;
        line-height: calc(47 / 16) + rem;
    }
}

@media(max-width:64rem) {
    .container {
        max-width: 64rem;
        padding: 0 0.3125rem;
    }

    .header {

        &__content {
            width: 50%;
        }
    }
}

@media(max-width:48rem) {
    .container {
        max-width: 48rem;
        padding: 0 0.3125rem;
    }

    .title {
        font-size: calc(36 / 16) + rem;
        line-height: calc(39.6 / 16) + rem
    }

    .header__btns {

        flex-wrap: wrap;
        gap: calc(14 / 16) + rem;

    }

    .btn {
        width: 100%;
        padding: 1rem 0;
    }



    ._light-btn {
        background-color: #FFFFFF;
        opacity: 0.9;
        border: none;
    }

    .marquee {
        padding: 0.625rem 0;
        margin-bottom: 0;
    }

    .marquee span {
        font-size: 1rem;
        line-height: 1.1rem;
    }
}

@media(max-width:37.5rem) {

    .header {

        background-image: url('img/banner375_1.png');
        background-position: center;
        background-size: cover;
        min-height: 43.75rem;

        &__body {
            padding-top: 1.125rem;

        }

        &__content {
            width: 100%;
            min-height: 48.75rem;
        }

        // &__title {}

        &__text {

            margin-bottom: 2rem;
        }

        &__btns {
            flex-wrap: wrap;
            gap: 0.875rem;
            margin-bottom: 14.3125rem;
        }
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        margin: 1.5rem 0;
    }

    .title {
        margin-top: calc(40 / 16) + rem;
        font-size: calc(36 / 16) + rem;
        line-height: calc(39.6 / 16) + rem;
    }


}

@media(max-width:23.4375rem) {
    .container {
        max-width: 21.625rem;
        margin: 0 auto;
        padding: 0 0.3125rem;
    }


}



//======================== schedule ======================
.schedule {
    margin-top: 5.375rem;
    margin-bottom: 12.5rem;

    &__content {}

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(35 / 16) + rem;
        margin-bottom: calc(66 / 16) + rem;

    }

    &__descr {
        width: 61%;
    }

    &__title {
        margin-top: -6px;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 3.0375rem;
        text-transform: uppercase;

        &_inline {
            display: inline;
        }
    }

    &__picture {}

    &__contact {
        font-family: "Golos Text";
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: $blue;
        letter-spacing: -0.3px;

    }
}

.big-red {
    font-weight: 700;
    color: #F54932;
}

.crossed {
    text-decoration: line-through #F54932;
}

.row {

    &__box {

        width: 65%;

        &_2 {
            width: 63%;
        }
    }

}

.table {
    margin-top: 2.875rem;
    margin-bottom: 1.5625rem;
    display: grid;
    grid-template-columns: 44% 56%;
}

.right {

    font-family: "Golos Text";
    font-weight: 400;
    font-size: calc(20 / 16) + rem;
    line-height: calc(24 / 16) + rem;
    border-bottom: 0.125rem solid #D0D0D0;
    padding: 1rem 1rem 1rem 0;
}



.left {

    font-family: "Golos Text";
    font-weight: 600;
    font-size: calc(20 / 16) + rem;
    ;
    line-height: calc(24 / 16) + rem;
    ;
    border-left: 0.125rem solid #D0D0D0;
    border-bottom: 0.125rem solid #D0D0D0;
    padding: 1rem 0 1rem 1rem;

}

._no-border {
    border-bottom: none;
}





@media(max-width:64rem) {
    .table {
        grid-template-columns: 100%;
    }

    .right {
        border-bottom: none;
        padding: 1rem 0 0.75rem 0;
    }



    .left {
        border-left: none;
        border-bottom: 0.125rem solid #D0D0D0;
        padding: 0 0 1rem 0;

    }
}

@media(max-width:48rem) {

    .schedule {
        margin-top: 3rem;
        margin-bottom: 7.5rem;


        &__row {
            flex-direction: column;
        }
    }

    .table {
        margin-top: 2.5rem;
    }

    .schedule {


        &__content {}



        &__title {
            font-size: calc(28 / 16) + rem;
            line-height: calc(37.8 / 16) + rem;
        }



        &__contact {
            font-size: 1.125rem;
            line-height: 1.35rem;
        }
    }


    .row {

        &__box {
            width: 100%;
        }


    }

}

//475px
@media(max-width:29.6875rem) {
    .row {
        &__box_2 {
            width: 100%;
        }
    }
}

//======================= foooter ==================
.footer {
    background-color: #E9DED4;

    &__content {
        padding-top: 2.5rem;
        padding-bottom: 0.72rem;
    }

    &__info {
        font-family: "Golos Text";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;

    }
}

//48rem=768px
@media(max-width:48rem) {
    .footer {
        &__content {
            padding-bottom: 3.75rem;
        }
    }
}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}