@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);


@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Merriweather;
    color: #313131;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 5px;
}

// ============================= header ==============================
.header {
    background-image: url('img/banner1920.png');
    background-position: center;
    background-size: cover;
    min-height: 700px;

    &__body {
        padding-top: 26px;
        display: flex;
    }

    &__content {
        width: 44%;
    }

    &__title {}

    &__text {
        font-family: 'Golos Text';
        font-weight: 400;
        font-size: 18px;
        line-height: 23.4px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__btns {
        display: flex;
        gap: 16px;
        margin-bottom: 132px;
    }
}

.mobile {
    display: none;
}

.title {
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    margin-top: 62px;
    margin-bottom: 24px;

    &__row._center {
        text-align: center;
    }

    &__row._right {
        text-align: right;
    }
}





.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 66px;
    border: none;
    padding: 20px 49px;
    text-align: center;
    font-family: 'Golos Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    background-color: #1F1F1F;
    color: #FFFFFF;

}

.btn:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
}

._light-btn {
    background-color: transparent;
    color: #1F1F1F;
    border: 1px solid #1F1F1F;
}

._light-btn:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

marquee {
    background-color: #F54932;
    padding: 18px 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 24.2px;
    margin-bottom: 80px;

}

@media(max-width:1360px) {
    .title {
        font-size: 45px;
        line-height: 47px;
    }
}

@media(max-width:1024px) {
    .header {

        &__content {
            width: 50%;
        }
    }
}

@media(max-width:768px) {
    .title {
        font-size: 36px;
        line-height: 39.6px;
    }

    .header__btns {

        flex-wrap: wrap;
        gap: 14px;

    }

    .btn {
        width: 100%;
        padding: 16px 0;
    }



    ._light-btn {
        background-color: #FFFFFF;
        opacity: 0.9;
        border: none;
    }
}

@media(max-width:600px) {

    .header {
        background-image: url('img/banner375.png');
        background-position: center;
        background-size: cover;
        min-height: 700px;

        &__body {
            padding-top: 18px;

        }

        &__content {
            width: 100%;
        }

        // &__title {}

        &__text {

            margin-bottom: 32px;
        }

        &__btns {
            flex-wrap: wrap;
            gap: 14px;
            margin-bottom: 229px;
        }
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .title {
        margin-top: 40px;
        font-size: 36px;
        line-height: 39.6px;
    }

    marquee {
        margin-bottom: 48px;
    }
}

@media(max-width:375px) {
    .container {
        max-width: 346px;
        margin: 0 auto;
        padding: 0 5px;
    }


}



//======================== schedule ======================
.schedule {
    margin-bottom: 200px;

    &__content {}

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        margin-bottom: 64px;

    }

    &__descr {
        width: 61%;
    }

    &__title {

        font-weight: 400;
        font-size: 36px;
        line-height: 48.6px;
        text-transform: uppercase;
    }

    &__picture {}

    &__contact {
        font-family: "Golos Text";
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #3057A2;

    }
}

.big-red {
    font-weight: 700;
    color: #F54932;
}

.crossed {
    text-decoration: line-through #F54932;
}

.row {

    &__box {

        width: 61%;
    }
}

.table {
    margin-top: 60px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.right {

    font-family: "Golos Text";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #313131;
    border-bottom: 2px solid #D0D0D0;
    padding: 16px 16px 16px 0;
}



.left {

    font-family: "Golos Text";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #313131;
    border-left: 2px solid #D0D0D0;
    border-bottom: 2px solid #D0D0D0;
    padding: 16px 0 16px 16px;

}

._no-border {
    border-bottom: none;
}





@media(max-width:1024px) {
    .table {
        grid-template-columns: 100%;
    }

    .right {
        border-bottom: none;
        padding: 16px 0 12px 0;
    }



    .left {
        border-left: none;
        border-bottom: 2px solid #D0D0D0;
        padding: 0 0 16px 0;

    }
}

@media(max-width:768px) {


    .schedule__row {
        flex-direction: column;
    }


    .schedule {


        &__content {}



        &__title {
            font-size: 28px;
            line-height: 37.8px;
        }



        &__contact {
            font-size: 18px;
            line-height: 21.6px;
        }
    }


    .row {

        &__box {
            width: 100%;
        }
    }

}