@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600,700,800,900);
.members {
  margin-bottom: 140px;
}
.members__heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__btns {
  display: flex;
  align-items: center;
}
.slider__btns_mobile {
  display: none;
}
.member__list {
  display: flex;
}
.member__item {
  padding: 0 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  transition: all 0.8s;
}
.member__picture {
  margin-bottom: 26px;
}
.member__name {
  flex: 1;
  font-family: "Golos Text";
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: #151515;
  margin-bottom: 6px;
  text-align: center;
}
.member__descr {
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #151515;
  margin-bottom: 20px;
  text-align: center;
}
.member__info {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #3057A2;
  border: 1px solid #3057A2;
  border-radius: 62px;
  text-transform: capitalize;
}

.slider-count {
  padding: 0 14px;
  font-family: "Golos text";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #313131;
}

.slider-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.slider-btn:hover circle {
  fill: #FBCE51;
}

.slider-btn:disabled circle {
  fill: #D6D6D6;
}

._hidden {
  display: none;
  visibility: hidden;
}

._appearance {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .members__heading {
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 475px) {
  .slider__btns_desktop {
    display: none;
  }
  .slider__btns_mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  ._mobile-hidden {
    display: none;
    visibility: hidden;
  }
  .member__item {
    width: 100%;
  }
}
.subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 54px;
  line-height: 64.8px;
  color: #313131;
  display: inline;
}

.sub-subtitle {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3057A2;
  display: inline-block;
  width: 280px;
}

.stages {
  margin-bottom: 200px;
}
.stages__content {
  position: relative;
}
.stages__box {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
  gap: 20px;
}
.stages__picture {
  position: absolute;
  bottom: 0;
  right: 0;
}
.stages__slider-btns {
  display: none;
}
.stages__item {
  background-image: url("img/paper.png");
  background-size: cover;
  padding: 20px;
  gap: 16px;
}

.item {
  display: flex;
}
.item_mobile {
  display: none;
}
.item__number {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-family: "Golos Text";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.item__text {
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.item_double-row {
  grid-row: span 2;
}
.item_double-col {
  grid-column: span 2;
  padding-right: 363px;
}

@media (max-width: 1024px) {
  .sub-subtitle {
    margin-bottom: 98px;
  }
  .stages__picture {
    position: absolute;
    left: 32%;
    top: 84px;
  }
  .item {
    padding: 12px;
    gap: 8px;
  }
  .item__text {
    font-size: 18px;
    line-height: 22px;
  }
  .stages__box {
    grid-template-columns: 48% 48%;
    gap: 20px;
  }
  .item_double-row {
    grid-row: span 1;
  }
  .item_double-col {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .subtitle {
    display: block;
    font-size: 36px;
    line-height: 40px;
  }
  .sub-subtitle {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .stages__box {
    display: flex;
    flex-wrap: wrap;
  }
  .stages__item {
    min-height: 300px;
    padding: 62px 20px 20px 20px;
  }
  .stages__slider-btns {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
  }
  .stages__picture {
    left: 20%;
    top: 100px;
  }
  .item_mobile {
    display: block;
  }
  .item_desktop {
    display: none;
  }
  .slider-hidden {
    display: none;
  }
  .stage-slider-count {
    display: flex;
    gap: 6px;
  }
  .slider-circle {
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
  ._choosen {
    background-color: #313131;
  }
}
@media (max-width: 475px) {
  .stages__picture {
    top: 154px;
  }
}
@media (max-width: 475px) {
  .stages__picture {
    top: 194px;
    left: 5%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Merriweather;
  color: #313131;
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  background-image: url("img/banner1920.png");
  background-position: center;
  background-size: cover;
  min-height: 700px;
}
.header__body {
  padding-top: 26px;
  display: flex;
}
.header__content {
  width: 44%;
}
.header__text {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
  margin-bottom: 40px;
}
.header__btns {
  display: flex;
  gap: 16px;
  margin-bottom: 132px;
}

.mobile {
  display: none;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  text-transform: uppercase;
  margin-top: 62px;
  margin-bottom: 24px;
}
.title__row._center {
  text-align: center;
}
.title__row._right {
  text-align: right;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 66px;
  border: none;
  padding: 20px 49px;
  text-align: center;
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.btn:hover {
  background-color: #FBCE51;
  color: #1F1F1F;
}

._light-btn {
  background-color: transparent;
  color: #1F1F1F;
  border: 1px solid #1F1F1F;
}

._light-btn:hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
}

marquee {
  background-color: #F54932;
  padding: 18px 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 24.2px;
  margin-bottom: 80px;
}

@media (max-width: 1360px) {
  .title {
    font-size: 45px;
    line-height: 47px;
  }
}
@media (max-width: 1024px) {
  .header__content {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 39.6px;
  }
  .header__btns {
    flex-wrap: wrap;
    gap: 14px;
  }
  .btn {
    width: 100%;
    padding: 16px 0;
  }
  ._light-btn {
    background-color: #FFFFFF;
    opacity: 0.9;
    border: none;
  }
}
@media (max-width: 600px) {
  .header {
    background-image: url("img/banner375.png");
    background-position: center;
    background-size: cover;
    min-height: 700px;
  }
  .header__body {
    padding-top: 18px;
  }
  .header__content {
    width: 100%;
  }
  .header__text {
    margin-bottom: 32px;
  }
  .header__btns {
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 229px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .title {
    margin-top: 40px;
    font-size: 36px;
    line-height: 39.6px;
  }
  marquee {
    margin-bottom: 48px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 346px;
    margin: 0 auto;
    padding: 0 5px;
  }
}
.schedule {
  margin-bottom: 200px;
}
.schedule__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin-bottom: 64px;
}
.schedule__descr {
  width: 61%;
}
.schedule__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 48.6px;
  text-transform: uppercase;
}
.schedule__contact {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3057A2;
}

.big-red {
  font-weight: 700;
  color: #F54932;
}

.crossed {
  -webkit-text-decoration: line-through #F54932;
          text-decoration: line-through #F54932;
}

.row__box {
  width: 61%;
}

.table {
  margin-top: 60px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.right {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #313131;
  border-bottom: 2px solid #D0D0D0;
  padding: 16px 16px 16px 0;
}

.left {
  font-family: "Golos Text";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #313131;
  border-left: 2px solid #D0D0D0;
  border-bottom: 2px solid #D0D0D0;
  padding: 16px 0 16px 16px;
}

._no-border {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .table {
    grid-template-columns: 100%;
  }
  .right {
    border-bottom: none;
    padding: 16px 0 12px 0;
  }
  .left {
    border-left: none;
    border-bottom: 2px solid #D0D0D0;
    padding: 0 0 16px 0;
  }
}
@media (max-width: 768px) {
  .schedule {
    margin-bottom: 120px;
  }
  .schedule__row {
    flex-direction: column;
  }
  .table {
    margin-top: 40px;
  }
  .schedule__title {
    font-size: 28px;
    line-height: 37.8px;
  }
  .schedule__contact {
    font-size: 18px;
    line-height: 21.6px;
  }
  .row__box {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */